.container {
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.item {
  background-color: tomato;
  margin: 5px;
}
