* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar {
  height: 100%;
  position: fixed;
  left: -250px;
  background: black;
  width: 250px;
  font-size: 16px;
  background: #042331;
  transition: all 0.5s ease;
}

.navbar header {
  font-size: 22px;
  text-align: center;
  color: white;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.navbar ul a {
  font-size: 20px;
  display: block;
  padding: 16px;
  color: white;
  padding-left: 40px;
}

ul li:hover {
  transition: 0.4s ease;
  padding-left: 15px;
}

.navbar ul a i {
  padding-right: 16px;
}

#hiddenCheck {
  display: none;
}

label #openButton,
label #closeButton {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #openButton {
  z-index: 99;
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}

label #closeButton {
  z-index: 99;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s;
}

#hiddenCheck:checked ~ .navbar {
  left: 0;
}

#hiddenCheck:checked ~ label #openButton {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#hiddenCheck:checked ~ label #closeButton {
  left: 195px;
}
