body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Superinfo BG */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/* MENU */
.menu-bg {
  background: #2c70ff;
}

.menu {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  font-size: 1.25em;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* INTRODUCTION */
.introduction {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  padding: 60px 10px;
  margin: 0 auto;
}

/* ABOUT */
.about {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.about-info p {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* PRODUCTS */

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3em;
  margin: 0px 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

.products-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

/* PRICE */
.price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
  padding: 60px;
  background: #f7f7f7;
}

.price-item {
  flex: 1;
  border: 5px solid white;
  margin: 10px;
  padding: 20px;
  min-width: 260px;
}

.price-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.price-item span {
  max-width: 300px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  display: block;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  padding: 10px 0 5px 0;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  color: #7c7c7c;
  font-size: 1.25em;
  line-height: 2;
  font-style: italic;
  margin: 20px auto;
}

.price-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-item li::after {
  content: '';
  height: 6px;
  width: 6px;
  display: block;
  background: #2c70ff;
  border-radius: 50%;
}

.price-item a {
  margin: 20px auto;
  text-align: center;
  border: 4px solid;
  color: #222222;
  padding: 15px 0;
  font-size: 2.25em;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  max-width: 300px;
}

@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }

  .price .price-item:nth-child(3) {
    order: -2;
  }

  .price .price-item:nth-child(2) {
    order: -1;
  }
}

/* quality */

.quality {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
  color: #a4a4a4;
}

.quality-item h2::before {
  content: '';
  width: 8px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.quality-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}

.quality-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}

.quality-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.quality-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  color: #7c7c7c;
}
