<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>V2 Sidebar</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#"><i class="fa fa-qrcode"></i>qrcode</a></li>
            <li><a href="#"><i class="fa fa-link"></i>link</a></li>
            <li><a href="#"><i class="fa fa-stream"></i>stream</a></li>
            <li><a href="#"><i class="fa fa-calendar-week"></i>calendar</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i>question</a></li>
            <li><a href="#"><i class="fa fa-sliders-h"></i>sliders</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>envelope</a></li>
        </ul>
    </nav>
</body>

</html>