* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.navbar {
  height: 100vh;
  position: fixed;
  left: 0;
  background: black;
  width: 250px;
  font-size: 16px;
  background: #042331;
}

.navbar header {
  font-size: 22px;
  text-align: center;
  color: white;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.navbar ul a {

}