* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0;
  background: black;
  width: 250px;
  font-size: 16px;
  background: #042331;
}
