body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Volkorn', Georgia, Serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidebar content ads'
    'footer footer footer';
}

/* ========================= */
/* HEADER */
/* ========================= */
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 10px;
}

/* ========================= */
/* SIDEBAR */
/* ========================= */
.sidebar {
  grid-area: sidebar;
  background: #fafbfc;
  padding: 30px;
}

.sidebar li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.5s ease-out;
}

.sidebar li a:hover {
  background: #b07dfb;
}

/* ========================= */
/* MAIN CONTENT */
/* ========================= */
.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.full-row-size {
  grid-column: 1 / -1;
}

.image-wolf-1 {
  grid-row: span 2;
  align-self: end;
}

.image-wolf-2 {
  align-self: end;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.information p + p {
  padding-top: 30px;
}

.citation {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.5);
}

.citation p {
  margin: 0 auto;
  max-width: 500px;
  color: white;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

.title {
  color: #b07dfb;
}

.title h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.title span {
  font-size: 0.875em;
  font-style: italic;
}

.characteristics {
  display: flex;
  align-items: flex-start;
  color: #b07dfb;
}

.characteristics span {
  display: block;
}

.characteristics > div {
  width: 80px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.characteristics > div:first-child {
  margin-right: 30px;
}

.number {
  text-align: center;
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}

.label {
  background: white;
  text-align: center;
  padding: 5px 0;
}

/* ========================= */
/* ads */
/* ========================= */
.ads {
  grid-area: ads;
  background: #fafbfc;
  display: grid;
  grid-template-rows: 250px 250px;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

/* ========================= */
/* FOOTER */
/* ========================= */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
}
