body {
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 20px;
  border: 1px solid black;
}

.item {
  background-color: tomato;
  padding: 10px;
  text-align: center;
}
