@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.nav {
  position: fixed;
  background-color: var(--bg-primary);
  height: 100vh;
  width: 5rem;
  transition: 0.2s;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.nav:hover {
  width: 200px;
}

.nav-item {
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  border-bottom: solid 1px white;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo-text {
}
